.card-actions{
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 8px !important;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}